@model BYUEgyptExcavation.Models.Mummy

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Mummy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MummyId" />
            <div class="form-group">
                <label asp-for="GenderGe" class="control-label"></label>
                <input asp-for="GenderGe" class="form-control" />
                <span asp-validation-for="GenderGe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderMethod" class="control-label"></label>
                <input asp-for="GenderMethod" class="form-control" />
                <span asp-validation-for="GenderMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeFunctionTotal" class="control-label"></label>
                <input asp-for="GeFunctionTotal" class="form-control" />
                <span asp-validation-for="GeFunctionTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderBodyCol" class="control-label"></label>
                <input asp-for="GenderBodyCol" class="form-control" />
                <span asp-validation-for="GenderBodyCol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColor" class="control-label"></label>
                <input asp-for="HairColor" class="form-control" />
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimateAge" class="control-label"></label>
                <input asp-for="EstimateAge" class="form-control" />
                <span asp-validation-for="EstimateAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeMethod" class="control-label"></label>
                <input asp-for="AgeMethod" class="form-control" />
                <span asp-validation-for="AgeMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimateLivingStature" class="control-label"></label>
                <input asp-for="EstimateLivingStature" class="form-control" />
                <span asp-validation-for="EstimateLivingStature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothAttrition" class="control-label"></label>
                <input asp-for="ToothAttrition" class="form-control" />
                <span asp-validation-for="ToothAttrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothEruption" class="control-label"></label>
                <input asp-for="ToothEruption" class="form-control" />
                <span asp-validation-for="ToothEruption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathologyAnomalies" class="control-label"></label>
                <input asp-for="PathologyAnomalies" class="form-control" />
                <span asp-validation-for="PathologyAnomalies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
