@model BYUEgyptExcavation.Models.Bones

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Bones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SampleNumber" class="control-label"></label>
                <input asp-for="SampleNumber" class="form-control" />
                <span asp-validation-for="SampleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasilarSuture" class="control-label"></label>
                <input asp-for="BasilarSuture" class="form-control" />
                <span asp-validation-for="BasilarSuture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VentralArc" class="control-label"></label>
                <input asp-for="VentralArc" class="form-control" />
                <span asp-validation-for="VentralArc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubpubicAngle" class="control-label"></label>
                <input asp-for="SubpubicAngle" class="form-control" />
                <span asp-validation-for="SubpubicAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SciaticNotch" class="control-label"></label>
                <input asp-for="SciaticNotch" class="form-control" />
                <span asp-validation-for="SciaticNotch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubicBone" class="control-label"></label>
                <input asp-for="PubicBone" class="form-control" />
                <span asp-validation-for="PubicBone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreaurSulcus" class="control-label"></label>
                <input asp-for="PreaurSulcus" class="form-control" />
                <span asp-validation-for="PreaurSulcus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedialIpRamus" class="control-label"></label>
                <input asp-for="MedialIpRamus" class="form-control" />
                <span asp-validation-for="MedialIpRamus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DorsalPitting" class="control-label"></label>
                <input asp-for="DorsalPitting" class="form-control" />
                <span asp-validation-for="DorsalPitting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForemanMagnum" class="control-label"></label>
                <input asp-for="ForemanMagnum" class="form-control" />
                <span asp-validation-for="ForemanMagnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemurHead" class="control-label"></label>
                <input asp-for="FemurHead" class="form-control" />
                <span asp-validation-for="FemurHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumerusHead" class="control-label"></label>
                <input asp-for="HumerusHead" class="form-control" />
                <span asp-validation-for="HumerusHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osteophytosis" class="control-label"></label>
                <input asp-for="Osteophytosis" class="form-control" />
                <span asp-validation-for="Osteophytosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubicSymphysis" class="control-label"></label>
                <input asp-for="PubicSymphysis" class="form-control" />
                <span asp-validation-for="PubicSymphysis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemurLength" class="control-label"></label>
                <input asp-for="FemurLength" class="form-control" />
                <span asp-validation-for="FemurLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumerusLength" class="control-label"></label>
                <input asp-for="HumerusLength" class="form-control" />
                <span asp-validation-for="HumerusLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TibiaLength" class="control-label"></label>
                <input asp-for="TibiaLength" class="form-control" />
                <span asp-validation-for="TibiaLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Robust" class="control-label"></label>
                <input asp-for="Robust" class="form-control" />
                <span asp-validation-for="Robust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupraorbitalRidges" class="control-label"></label>
                <input asp-for="SupraorbitalRidges" class="form-control" />
                <span asp-validation-for="SupraorbitalRidges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrbitEdge" class="control-label"></label>
                <input asp-for="OrbitEdge" class="form-control" />
                <span asp-validation-for="OrbitEdge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParietalBossing" class="control-label"></label>
                <input asp-for="ParietalBossing" class="form-control" />
                <span asp-validation-for="ParietalBossing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gonian" class="control-label"></label>
                <input asp-for="Gonian" class="form-control" />
                <span asp-validation-for="Gonian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NuchalCrest" class="control-label"></label>
                <input asp-for="NuchalCrest" class="form-control" />
                <span asp-validation-for="NuchalCrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZygomaticCrest" class="control-label"></label>
                <input asp-for="ZygomaticCrest" class="form-control" />
                <span asp-validation-for="ZygomaticCrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CranialSuture" class="control-label"></label>
                <input asp-for="CranialSuture" class="form-control" />
                <span asp-validation-for="CranialSuture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumCranialLength" class="control-label"></label>
                <input asp-for="MaximumCranialLength" class="form-control" />
                <span asp-validation-for="MaximumCranialLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumCranialBreadth" class="control-label"></label>
                <input asp-for="MaximumCranialBreadth" class="form-control" />
                <span asp-validation-for="MaximumCranialBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionBregmaHeight" class="control-label"></label>
                <input asp-for="BasionBregmaHeight" class="form-control" />
                <span asp-validation-for="BasionBregmaHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionNasion" class="control-label"></label>
                <input asp-for="BasionNasion" class="form-control" />
                <span asp-validation-for="BasionNasion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionProsthionLength" class="control-label"></label>
                <input asp-for="BasionProsthionLength" class="form-control" />
                <span asp-validation-for="BasionProsthionLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BizygomaticDiameter" class="control-label"></label>
                <input asp-for="BizygomaticDiameter" class="form-control" />
                <span asp-validation-for="BizygomaticDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NasionProsthion" class="control-label"></label>
                <input asp-for="NasionProsthion" class="form-control" />
                <span asp-validation-for="NasionProsthion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumNasalBreadth" class="control-label"></label>
                <input asp-for="MaximumNasalBreadth" class="form-control" />
                <span asp-validation-for="MaximumNasalBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterorbitalBreadth" class="control-label"></label>
                <input asp-for="InterorbitalBreadth" class="form-control" />
                <span asp-validation-for="InterorbitalBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpiphysealUnion" class="control-label"></label>
                <input asp-for="EpiphysealUnion" class="form-control" />
                <span asp-validation-for="EpiphysealUnion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
