@{
    ViewData["Title"] = "Photo Page - User";
}

<div class="container">
    <br /><br />
    

    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Photo Gallery</h1>
        </div>
    </div>
</div>
<div class="container">
    <br /><br />
    <h2 style="text-align:center">Gallery</h2>

    <div class="imgcontainer">
        <div class="mySlides">
            <div class="numbertext">1 / 8</div>
            <img class="galleryimg" src="~/images/IMG_0431.JPG" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 8</div>
            <img class="galleryimg" src="~/images/DSC_0007.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 8</div>
            <img class="galleryimg" src="~/images/DSCN0004.JPG" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 8</div>
            <img class="galleryimg" src="~/images/DSCN0314.JPG" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 8</div>
            <img class="galleryimg" src="~/images/DSCN0316.JPG" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 8</div>
            <img class="galleryimg" src="~/images/DSCN0967.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">7 / 8</div>
            <img class="galleryimg" src="~/images/DSCN1000.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">7 / 8</div>
            <img class="galleryimg" src="~/images/DSCN3977.JPG" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="galleryrow">
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/IMG_0431.JPG" style="width:100%" onclick="currentSlide(1)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSC_0007.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN0004.JPG" style="width:100%" onclick="currentSlide(3)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN0314.JPG" style="width:100%" onclick="currentSlide(4)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN0316.JPG" style="width:100%" onclick="currentSlide(5)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN0967.JPG" style="width:100%" onclick="currentSlide(6)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN1000.JPG" style="width:100%" onclick="currentSlide(7)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN3977.JPG" style="width:100%" onclick="currentSlide(8)" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>



