@{
    ViewData["Title"] = "Photo Page - User";
}

<div class="container">
    <br /><br />
    <h1>Photo Page</h1>

    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Burials</h1>
            <p>lol did this work?r</p>
        </div>
    </div>
</div>



