@{
    ViewData["Title"] = "Photo Page - User";
}

<!--Photo Gallery View-->

<!--Slide show gallery: Main photo-->
<div class="container">
    <br /><br /><br /><br />
    <h2 style="text-align:center">Gallery</h2>

    <div class="imgcontainer">
        <div class="mySlides">
            <div class="numbertext">1 / 14</div>
            <img class="galleryimg" src="~/images/IMG_0431.JPG" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 14</div>
            <img class="galleryimg" src="~/images/DSC_0007.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 14</div>
            <img class="galleryimg" src="~/images/DSCN0004.JPG" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 14</div>
            <img class="galleryimg" src="~/images/DSCN0314.JPG" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 14</div>
            <img class="galleryimg" src="~/images/DSCN0316.JPG" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 14</div>
            <img class="galleryimg" src="~/images/DSCN0967.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">7 / 14</div>
            <img class="galleryimg" src="~/images/DSCN1000.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">8 / 14</div>
            <img class="galleryimg" src="~/images/DSCN3977.JPG" style="width:100%">
        </div>
        <!----------------------------------------------------------------------------->
        <div class="mySlides">
            <div class="numbertext">9 / 14</div>
            <img class="galleryimg" src="~/images/13 February 2007 026.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">10 / 14</div>
            <img class="galleryimg" src="~/images/P2160230.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">11 / 14</div>
            <img class="galleryimg" src="~/images/IMG_0968.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">12 / 14</div>
            <img class="galleryimg" src="~/images/FT270445.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">13 / 14</div>
            <img class="galleryimg" src="~/images/190-200N 30-40E NE Burial 11 G.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">14 / 14</div>
            <img class="galleryimg" src="~/images/190-200N 30-40E NE Burial 18 -- Nail A.jpg" style="width:100%">
        </div>
        @*<div class="mySlides">
            <div class="numbertext">15 / 20</div>
            <img class="galleryimg" src="~/images/21. B.5.7 140-160N 50-60E NW Burial 28.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">16 / 20</div>
            <img class="galleryimg" src="~/images/25. B.3.32 1401-50N 50-60E NW Burial 18.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">17 / 20</div>
            <img class="galleryimg" src="~/images/65-bottom.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">18 / 20</div>
            <img class="galleryimg" src="~/images/65-front.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">19 / 20</div>
            <img class="galleryimg" src="~/images/65-lft-side.JPG" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">20 / 20/div>
            <img class="galleryimg" src="~/images/AM130235.JPG" style="width:100%">
        </div>*@
        <!----------------------------------------------------------------------------->
        <!--Slide show arrows-->
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <!--Slide show- photo captions-->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <!--Slide show: photo-->
        <div class="galleryrow">
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/IMG_0431.JPG" style="width:100%" onclick="currentSlide(1)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSC_0007.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN0004.JPG" style="width:100%" onclick="currentSlide(3)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN0314.JPG" style="width:100%" onclick="currentSlide(4)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN0316.JPG" style="width:100%" onclick="currentSlide(5)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN0967.JPG" style="width:100%" onclick="currentSlide(6)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN1000.JPG" style="width:100%" onclick="currentSlide(7)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/DSCN3977.JPG" style="width:100%" onclick="currentSlide(8)" alt="">
            </div>
            <!----------------------------------------------------------------------------->
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/13 February 2007 026.jpg" style="width:100%" onclick="currentSlide(9)" alt="13 February 2007">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/P2160230.JPG" style="width:100%" onclick="currentSlide(10)" alt="150-160N 0-10E SW Burial 5 - Skull B">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/IMG_0968.JPG" style="width:100%" onclick="currentSlide(11)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/FT270445.JPG" style="width:100%" onclick="currentSlide(12)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/190-200N 30-40E NE Burial 11 G.jpg" style="width:100%" onclick="currentSlide(13)" alt="190-200N 30-40E NE Burial 11 G">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/190-200N 30-40E NE Burial 18 -- Nail A.jpg" style="width:100%" onclick="currentSlide(14)" alt="190-200N 30-40E NE Burial 18 -- Nail A">
            </div>
            @*<div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/21. B.5.7 140-160N 50-60E NW Burial 28.jpg" style="width:100%" onclick="currentSlide(15)" alt="140-160N 50-60E NW Burial 28">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/25. B.3.32 1401-50N 50-60E NW Burial 18.jpg" style="width:100%" onclick="currentSlide(16)" alt="50N 50-60E NW Burial 18">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/65-bottom.JPG" style="width:100%" onclick="currentSlide(17)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/65-front.JPG" style="width:100%" onclick="currentSlide(18)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/65-lft-side.JPG" style="width:100%" onclick="currentSlide(19)" alt="">
            </div>
            <div class="gallerycolumn">
                <img class="demo cursor galleryimg" src="~/images/AM130235.JPG" style="width:100%" onclick="currentSlide(20)" alt="">
            </div>*@
            <!----------------------------------------------------------------------------->
        </div>
    </div>
</div>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>



