@{
    ViewData["Title"] = "Home Page - User";
}

<header class="masthead remove-padding">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">BYU Egypt Excavation Project</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Fag el-Gamous Cemetary Database</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" asp-area="" asp-controller="Burials" asp-action="Index">Explore Fag el-Gamous mummies!</a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="text-center">
        <br />
        <br />
        <h2 style="justify-content:center">From the Sands of Egypt</h2>
        <br />
        <img src="~/images/DSCN1000.JPG" style="width: auto; height:300px" />
        <br />
        <br />
    </div>
    <p><span style="font-weight:bold">Written by Kerry M. Muhlestein, </span><span style="font-style:italic">BYU Religious Education Review </span><span style="font-weight:bold">magazine, Fall 2012, page 6.</span></p>
    <p>Kerry M. Muhlestein <span style="font-style:italic">(kerry_muhlestein@byu.edu)</span> is an associate professor of ancient scripture at BYU.</p>
    <p>For over two decades, BYU has been excavating in an area of Egypt known as the Fayoum. We are grateful for the ongoing support of the Ministry for Antiquities in Egypt, our university funding, and the generosity of J. Willard Marriott Jr. and other private donors who make our excavation possible. The excavation concession consists of three areas: a huge cemetery, a small pyramid, and a Greco-Roman township.</p>
    <p>The pyramid was built by Snefru, the first king of the Fourth Dynasty and father of Khufu, the builder of the Great Pyramid at Giza. It is one of Senfru’s four pyramids and may be the first true pyramid ever constructed. Our excavation of this pyramid has allowed us to perform a sophisticated analysis of its dimensions and construction techniques, comparing it to Snefru’s other pyramids as well as several others throughout Egypt. We have discovered some startling parallels that, when fully researched, will alter the way the world thinks about pyramids. Our Egyptological colleagues are following our work with great interest.</p>
    <p>The cemetery has yielded a number of finds that cast a fascinating light on the lives of the area’s ancient inhabitants. We are learning about the diseases and difficulties they endured, the food they consumed, their clothing and playthings, as well as their religious beliefs. One of the most interesting elements of the cemetery is that it witnessed their conversion to Christianity. We hope to learn more about this early Christian community. Some of the more spectacular finds of the cemetery include a tomb of mummified cats, some jewelry in the shape of the cross, some spectacularly wrapped mummies, and a beautiful golden mummy.</p>
    <p>The township of Philadelphia was a thriving center of its area during the Greco-Roman period of Egypt. In June the team did a cursory survey of the site and believes it promises to yield important finds. To this day, however, Philadelphia has not been excavated. More funding is necessary before this project can be undertaken.</p>
    <p>Upon the retirement of Dr. C. Wilfred Griggs over a year ago, I took the leadership of the excavation. Throughout this last year, we have strengthened and created new ties with local officials, built good relations with a number of Egyptian entities, and continued our work on site. We are continuing our extensive outreach activities, including publishing our findings at a greater rate than ever before, working with our Egyptian colleagues, running field schools for young Egyptian archaeologists, lecturing to and collaborating with our academic colleagues in a variety of disciplines throughout the world, and lecturing in high schools, public forums, and private groups. We have had great success in mentoring students on campus as well as in Egypt and in doing academic lectures and publications with them. This training has already helped these students find excellent opportunities as they leave BYU for further activities in places such as Cambridge and Oxford.</p>
    <p>Publications and presentations have recently been or shortly will be made by David M. Whitchurch, Joyce Smith, Kristin South, R. Paul Evans, Giovanni Tata, Brent Benson, Bethany Jensen (student), and me. The excavation team is involved in several exciting projects. At this time we are beta testing what will be the largest online database of Coptic textiles in the world. Universities are already offering to add their information to our collection. With such a rich amount of information on a specific population in Egypt, we are in the process of creating the most comprehensive demographic study of any settlement in the Roman Empire. Having statistics gathered for over eight hundred burials, we can say more about the birth and death rate, state of health, and gender ratio of the local townships than ever before. We are doing DNA, cranial, and dental analyses of the genetic background of the population, allowing us to know more about the characteristics of the society. Using the latest technology and innovative techniques, we are mapping the cemetery, pyramid, and other parallel cemeteries and pyramids. By doing this, we expect to gain a better understanding of the sacred landscape within our area and those of similar sites in Egypt. We are collaborating with other universities to use our findings to better understand families of ancient Egypt, particularly the children. We are working with our Egyptian colleagues to conserve and display some of our most important finds. With funding we hope to create a publication about our pyramid that will become a standard in the study of Egypt.</p>
    <p>The great work we have done in the past has been a result of the kindness and generosity of a variety of donors. As we move forward with greater momentum into so many rich areas of research, we have a greater need for and reliance on assistance from generous friends. We look forward to a bright partnership with future benefactors, hoping to share our success and newly gained knowledge with them in a multiplicity of ways. With such support and tireless efforts of an excellent excavation team, we believe our future is even brighter than our past.</p>
    <br /><br />
    

</div>
<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <a class="btn btn-primary btn-xl js-scroll-trigger" asp-area="" asp-controller="Burials" asp-action="Index">Explore Fag el-Gamous mummies!</a>
</div>

