@{
    ViewData["Title"] = "Home Page - User";
}


<div class="text-center">
    <br />
    <br />

    <img src="~/images/DSCN1000.JPG" style="width: auto; height:300px"/>
    <br />
    <br />
</div>

<p>For over two decades, BYU has been excavating in an area of Egypt known as the Fayoum.The excavation concession consists of three areas: a huge cemetery, a small pyramid, and a Greco-Roman township.</p>
<p>The cemetery has yielded a number of finds that cast a fascinating light on the lives of the area’s ancient inhabitants. We are learning about the diseases and difficulties they endured, the food they consumed, their clothing and playthings, as well as their religious beliefs. To learn more about the excavation site, read Dr. Kerry Mulhstein's <a href="https://religion.byu.edu/event/egyptian-excavation-exhibit" target="_blank">Egyption Excavation Exhibition</a> article.</p>
<p>We hope you enjoy exploring our findings from the Fag el-Gamous cemetery. </p>
