@{
    ViewData["Title"] = "Mummy Page - User";
}

@*@model IEnumerable<BYUEgyptExcavation.Models.Burial>

<h1>Mummy List Page</h1>

@foreach (var x in Model)
{
    <a>@x.MummyId</a>
}*@

<!--This page doesn't actually exist...lol-->