@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Account Confirmed!";
}
<br />
<br />
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Thank you for confirming your email! At this moment you have an account, but not full access to the site. Please contact your administrator if you believe you need more privileges.</p>
</div>
