@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model string

    <div class="m-3">
        <div class="m-3">
            <h1 class="bg-primary text-white text-center p-1">Create a Role</h1>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        @*form to create new roles*@
        <form asp-action="Create" method="post" class="m-lg-3">
            <div class="form-group">
                <label for="name">Name:</label>
                <input name="name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <div class="m-lg-3">
            <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
        </div>
    </div>